<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="consoleInfo" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%p[%d{dd-MM-yyyy HH:mm}]: %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMax" value="INFO"/>
        </filter>
    </appender>

    <appender name="consoleErr" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.err"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%p[%d{ISO8601}]: %m (%c{1}:%M:%L)%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="WARN"/>
        </filter>
    </appender>

    <appender name="file" class="org.apache.log4j.FileAppender">
        <param name="file" value="application.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%p[%d{ISO8601}]: %m (%c{1}:%M:%L)%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="INFO"/>
        </filter>
    </appender>

    <root>
        <priority value="INFO"/>
        <appender-ref ref="consoleInfo"/>
        <appender-ref ref="consoleErr"/>
        <appender-ref ref="file"/>
    </root>
</configuration>